---
---
<% max = config[:other_articles_max].to_i %>
<% older_only ||= false %>
<div id="related">
  <h3 class="content">Related articles</h3>
  <ul class="related">
    <% related_items = items_with_tags(reference_item[:tags]) %>
    <% related_items[0, @config[:other_articles_max]].each do |item| %>
      <li><a href="<%= route_path(item) %>" title="<%= item[:title] %>"><%= item[:title] %></a></li>
    <% end %>
  </ul>
</div>
