<div class="byline">
  <h3>Interested in Refactoring Rails?</h3>

  <p>
    I've created an ebook called <a href="http://www.refactoringredmine.com">Refactoring Redmine</a> with over 80 examples of real world Ruby on Rails refactorings.
  </p>

</div>

