---
---
    <div id="sidebar">
      <h3>Subscribe</h3>

      <p>
        <a class="feed" href="{{ site.global_feed }}">
          <img src="/images/large-rss.png" />
        </a>
      </p>

      <p><a href="http://feedburner.google.com/fb/a/mailverify?uri=RedmineBlog">Subscribe via Email</a></p>

      <h3>Sponsors</h3>

      <div class="sp">
        <a href="http://www.littlestreamsoftware.com" title="Little Stream Software, the creator of the blog.">
          <img src="/images/lss.gif" alt="Little Stream Software" />
        </a>
      </div>

      <h3>Downloads and Products</h3>

      <div class="sp">
        <a href="http://www.refactoringredmine.com">
          <h2>Learn how I Refactor Redmine</h2>
          <img src="/assets/refactoring-redmine-cover.jpg" alt="Refactoring Redmine - the ebook" title="Refactoring Redmine - the ebook" />
        </a>
      </div>

      <div class="sp text-link">
        <a href="http://theadmin.org/articles/2010/07/26/redmine-1-0-upgrade-service/">
          Need help upgrading to Redmine 1.0?
        </a>
      </div>
      
      <div class="sp">
        <a href="http://theadmin.org/articles/2010/06/08/redmine-email-keyword-cheatsheet/">
          <img src="http://s3.amazonaws.com/lss-public/redmine-keyword-cheatsheet-promo.png" alt="Free Redmine Email Keyword Cheatsheet" />
        </a>
      </div>

    </div>
